/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}
body
{
    line-height: 1;
}
ol, ul
{
    list-style: none;
}
blockquote, q
{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
    content: '';
    content: none;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
/*END OF CSS RESET*/

html
{
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.content-wrapper
{
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
}

/*Header Section*/
.toplinks
{
    margin-bottom: 20px;
    text-decoration: none;
}

header
{
    margin: 0 auto;
    background-color: #3399ff;
    height: 115px;
}

header .content-wrapper
{
    padding-top: 5px;
}

.nb
{
    font: 42px normal;
    font-family: 'Segoe UI';
    color: #fff;
    text-transform: uppercase;
}

.rhc
{
    font: 18px normal;
    font-family: 'Segoe UI';
    color: #ff0;
    text-transform: uppercase;
}
/*END OF HEADER SECTION*/

/*NAVIGATION*/
.menu
{
    background-color: #99ccff;
    font-size: 13px;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
    width: 986px;
    padding: 0 0 0 14px;
    margin: 0 auto;
    height: 30px;
}

nav
{
    display: block;
}

.menu ul li
{
    padding: 5px 0;
}

.MenuBar
{
    margin: 0;
    background-color: #99ccff;
    margin-top: -2px;
    height: 30px;
    padding: 10px 0 0 0;
    width: 1000px;
}
.StaticMenuItem
{
    font-size: 13px;
    font-family: "Segoe UI" , Sans-Serif;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.StaticMenuItemStyle
{
    color: #000;
}


.StaticHoverStyle
{
    color: #fff;
}

.StaticSelectedStyle
{
    color: #fff;
}

.DynamicMenuItemStyle
{
    background-color: #99ccff;
    font-size: 14px;
    font-family: "Segoe UI" , Sans-Serif;
    margin: auto;
    text-align: left;
    color: #000;
    padding: 8px 5px;
}

.DynamicHoverStyle
{
    color: #fff;
}

/*END OF NAVIGATION*/


/*BODY*/
#main_body
{
    background-color: #efeeef;
    clear: both;
    width: 1000px;
    margin: 0 auto;
}

.main-content
{
    clear: both;
    width: 98%; /*620px*/
    float: left;
    padding: 5px;
    margin: 5px 0 10px 0; /*border:1px solid blue;*/
}

.sidebar
{
    width: 350px;
    float: left;
    margin: 5px 0 0 25px; /*border:1px solid green;*/
}

.sidebar-content
{
    height: 85px;
    color: #fff;
    font-size: 12px;
    font-family: 'Segoe UI' , sans-serif;
    margin-bottom: 4px;
    padding: 2px;
}

.first
{
    background-color: #660099;
}

.second
{
    background-color: #cc3300;
}

.third
{
    background-color: #00c;
}


.sidebar-img
{
    margin-right: 5px;
    float: left;
}

.search, .navi
{
    margin: 5px;
}
.news
{
    margin-bottom: 10px;
}

hr
{
    border: 0px;
    border-top: 1px dashed #808080;
    width: 250px;
}
#quicklinks
{
    padding-right: 10px;
}

.navi a
{
    text-decoration: none;
}
.clear
{
    clear: both;
}

/*Quicklinks style*/
.image-wrapper
{
    margin: 0;
    padding: 0;
    position: relative;
    width: 190px;
    height: 150px;
    float: left;
    margin-bottom: 10px;
}

.transbox
{
    margin: 0;
    padding: 0;
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

.quick-link
{
    margin: 0; /*padding: 0 50px;*/
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50px;
    text-decoration: none;
}
.right-margin
{
    margin-right: 22px;
    margin-left: 3px;
}
.left-margin
{
    margin-left: 22px;
}

/*END OF BODY*/


/*FOOTER*/
footer
{
    clear: both;
    background-color: #3399ff;
    height: 170px;
}

.level1
{
    clear: both;
    margin: 0;
}

#footerMenu
{
    clear: both;
}

footer .links
{
    float: left;
    padding-right: 12px;
    margin-top: 5px; /*margin: -16px auto 0 auto;*/
}

.social
{
    margin: 20px 50px 0 50px;
    padding: 5px;
}

.privacy
{
    text-align: center;
    color: #000;
    line-height: 28px;
}
/*END OF FOOTER*/


#billing_container
{
    padding: 20px;
}

.billing
{
    width: 100%;
    border-collapse: collapse;
}

.billing th, .billing td
{
    border: 1px solid black;
}

.billing label
{
    font-weight: bold;
    padding-bottom: 3px;
}

#billing_content th
{
    text-align: left;
    font-weight: bold;
}

.billing td, .billing th
{
    padding: 3px;
}

#billing_content #subtotal, #billing_content #tax, #billing_content #total
{
    text-align: right;
    font-weight: bold;
}

#main_content
{
    width: 100%;
    padding: 10px;
}

#main_content #main_header
{
    font-size: 16px;
    font-weight: bold;
    color: #555;
    padding-bottom: 20px;
}

#main_content #main_sub_header
{
    font-size: 14px;
    font-weight: bold;
    color: orange;
    padding-bottom: 15px;
}
#main_content #main_body
{
    background: none;
    width: 100%;
}

#main_content #main_body p
{
    padding-bottom: 10px;
}

.bold
{
    font-weight: bold;
}

.input_label
{
    padding-bottom: 5px;
}

.input_control
{
    padding-bottom: 8px;
}

.volunteer_list_container
{
    padding-bottom: 15px;
    padding-right: 15px;
}

.volunteer_list
{
    width: 300px;
}

.volunteer_list td, .volunteer_list th
{
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.gridview_control
{
    clear: both;
    width: 100%;
}

.gridview_control td img {
    margin: 0;
    padding: 0;
    float: none;
}

.gridview_control td, .gridview_control th
{
    border: 1px solid #000;
    padding: 10px 5px;
}

.gridview_control table td
{
    border: none;
}

.volunteer_list th, .gridview_control th
{
    background-color: #99ccff;
    border-bottom: 3px double #000;
    font-weight: 700;
}

.gridview_control th a:link, .gridview_control th a:visited, .gridview_control th a:active
{
    color: #333;
    text-decoration: none;
}

.gridview_control th a:hover
{
    text-decoration: underline;
}

.billing_address td
{
    padding-bottom: 4px;
}

.billing_address_container
{
    padding-right: 20px;
    padding-bottom: 20px;
}

.line_long {
    width: 100%;
    background-color: #333;
    border-style: solid;
    border: 1px solid #333;
}

#shopping_cart_header {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
}

#shopping_cart {
    border: 2px dotted #333;
    padding: 5px;
}

.checkout_header td {
    padding: 7px;
}

 /*-------------Career---------------------------------------------------------------*/
/* GridView, DeatailsView CSS - Used in Career Page */

  .view td,.view th
        {
            padding:10px;
        }
        .detailsview
        {
            border:double 4px black;
        }
        .header
        {
            letter-spacing:8px;
            font:bold 16px Arial,Sans-Serif;
            background-color:silver;
        }
        .fieldHeader
        {
            font-weight:bold;
        }
        .alternating
        {
            background-color:#eeeeee;
        }
        .command
        {
            background-color:silver;
        }
        .command a
        {
            color:black;
            background-color:#eeeeee;
            font:14px Arials,Sans-Serif;
            text-decoration:none;
            padding:3px;
            border:solid 1px black;
        }
        .command a:hover
        {
            background-color:yellow;
        }
        .pager td
        {
            padding:2px;
        }
        
       
        
        #desc1
        {
            padding :10px;
            }
            
        #img_job1
        
        {
            float:left;
            margin-left:100px;
            padding:10px;
            
           
            }
            
         #img_job2
        {
            float:left;
            padding:10px;
            
            
            
            }
            
            #desc2
        {
            padding :10px;
            float:left;
            }
            
            #position
        {
            float:left;
            padding:5px;
            
            
            }
            
       
        
        #detail
        {
            float:left;              
            }     
       #img_position
       {
           float:left;
           
            padding:20px;
           }
           
      .clear
      {
          clear:both;
      }  

/*CSS for validation summary*/      
      

.validationsummary {   
    color: red;   
    padding:10px;
    padding-left: 80px;
    min-height:55px;
    
} 

/*----Career end----------------------------------------------------------*/w