<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="NorthBay.Framework.Properties.Settings.northbayConnectionString"
         connectionString="Data Source=aven.arvixe.com;Initial Catalog=northbay;User ID=fantastic;Password=fantastic"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>