<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="NorthBay.Framework.Properties.Settings.codeopolisConnectionString"
         connectionString="Data Source=codeopolis.db.10251325.hostedresource.com;Initial Catalog=codeopolis;Persist Security Info=True;User ID=codeopolis;Password=Lt822243135!!"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>