<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NorthBay.Framework.Properties.Settings.codeopolisConnectionString"
            connectionString="&#xA;        &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&#xA;        &lt;SerializableConnectionString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xA;        &lt;ConnectionString&gt;Data Source=codeopolis.db.10251325.hostedresource.com;Initial Catalog=codeopolis;Persist Security Info=True;User ID=codeopolis;Password=Lt822243135!!&lt;/ConnectionString&gt;&#xA;        &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;&#xA;        &lt;/SerializableConnectionString&gt;&#xA;      " />
        <add name="NorthBay.Framework.Properties.Settings.northbayConnectionString"
            connectionString="&#xA;        &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&#xA;        &lt;SerializableConnectionString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xA;        &lt;ConnectionString&gt;Data Source=aven.arvixe.com;Initial Catalog=northbay;User ID=fantastic;Password=fantastic&lt;/ConnectionString&gt;&#xA;        &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;&#xA;        &lt;/SerializableConnectionString&gt;&#xA;      " />
        <add name="NorthBay.Framework.Properties.Settings.northbayhospConnectionString"
            connectionString="Data Source=northbayhosp.db.10638631.hostedresource.com;Initial Catalog=northbayhosp;User ID=northbayhosp;Password=N0rthb@y"
            providerName="System.Data.SqlClient" />
        <add name="NorthBay.Framework.Properties.Settings.northbayhospConnectionString1"
            connectionString="Data Source=northbayhosp.db.10638631.hostedresource.com;Initial Catalog=northbayhosp;Persist Security Info=True;User ID=northbayhosp;Password=N0rthb@y"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>