<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DateFormat" value="dd/MM/yyyy" />
    <add key="TimeFormat" value="hh:mm tt" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite" />
    <pages theme="Main">
      <controls>
        <add tagPrefix="custom" namespace="NorthBay.Controls" assembly="NorthBay.Controls" />
        <!-- AjaxControlToolkit -->
        <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
</configuration>